#rodape {
	width: 100%;
	/*background-image: linear-gradient(to right, rgba(186,77,14,1), rgba(90,154,163,1));*/
	background-color: black;
  position: relative;
    bottom:0;
    left:0;
}

#img1 {
	padding-top: 5%;
	width: 70%;
}

#img2 {
	width: 50%;
	padding-left: 8%;
	margin-left: 35%
}