/* #rodape {
	width: 100%;
	
	background-color: black;
  position: relative;
    bottom:0;
    left:0;
}

#img1 {
	padding-top: 5%;
	width: 70%;
}

#img2 {
	width: 50%;
	padding-left: 8%;
	margin-left: 35%
} */
html, body{
	height: 100%;
	width: 100%;

}

nav {
	height: 100%;
	width: 30%;
	background-color: gray;
	right: 0px;
}

main {
	height: 100%;
	width: 70%;
}



